.notes-section {
  padding-top: 11.4rem;
}

#notes-section-header {
  justify-content: space-between;
  align-items: center;
}


#add-note {
  position: fixed;
  bottom: 4.5rem; right: 3rem;

  height: 6.5rem;
  width: 6.5rem;

  background: #1B1B1E;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), -5px 0px 10px rgba(0, 0, 0, 0.4);

  border-radius: 50%;

  color: white;
  font-size: 3rem;
}

.notes-section.active ~ #back-button {
  display: none;
}