#preview-title {
  margin-top: 4rem;

  outline: none;

  font-size: 3.2rem;

  word-break: break-word;
}

#preview-title[contentEditable=true],
#preview-description[contentEditable=true] {
  border-bottom: 2px solid white;
}

#preview-description {
  margin-top: 4rem;

  font-size: 2.2rem;
  color: #bbbbbb;

  outline: none;

  word-break: break-word;
}

#preview-description[contentEditable=true] {
  color: #dddddd;
}